*{
box-sizing:border-box;
font-family:Tahoma, Arial;
}


body{

margin:0;

background:#fff7df;

text-align:center;

color:#333;

}


/* الواجهة */

.hero{

position:relative;

background:linear-gradient(#ffe36e,#fff3b0);

padding:50px 10px 70px;

border-radius:0 0 60px 60px;

overflow:hidden;

}


.title h1{

font-size:55px;

color:#e67e22;

margin:20px;

}


.title p{

font-size:22px;

}


.character{

position:absolute;

width:160px;

bottom:0;

}


.right{

right:20px;

}


.left{

left:20px;

}


.stars{

position:absolute;

width:90px;

top:20px;

right:45%;

}



/* البحث */


.search{

background:#dff5ff;

margin:30px 15px;

padding:35px;

border-radius:40px;

}


input{

width:80%;

max-width:350px;

padding:15px;

font-size:18px;

border-radius:25px;

border:2px solid #8ed0ff;

text-align:center;

}


button{

margin:15px;

padding:14px 45px;

border:0;

border-radius:30px;

background:#ffb300;

color:white;

font-size:18px;

}



/* البطاقات */


.card{

background:white;

max-width:350px;

margin:auto;

padding:25px;

border-radius:30px;

box-shadow:0 5px 20px #ddd;

}



.star h2{

color:#f39c12;

}



/* النقاط */


.points{

background:white;

margin:30px 15px;

padding:30px;

border-radius:40px;

}


.points h2{

color:#27ae60;

}


.points ul{

padding:0;

list-style:none;

}


.points li{

background:#effbe8;

margin:12px;

padding:15px;

border-radius:20px;

font-size:18px;

}



/* الهاتف */


@media(max-width:600px){

.character{

width:100px;

}


.title h1{

font-size:40px;

}


}
